<div class="modal-container">
  <div class="dashboard">
    <h1>Dashboards</h1>
    <button mat-icon-button>
      <mat-icon>settings</mat-icon>
      <h2>Inverter Efficiency</h2>
    </button>

    <button mat-icon-button>
      <mat-icon>settings</mat-icon>
      <h2>String Performance</h2>
    </button>

    <button mat-icon-button>
      <mat-icon>settings</mat-icon>
      <h2>Power Curve</h2>
    </button>

    <button mat-icon-button>
      <mat-icon>settings</mat-icon>
      <h2>Soiling Loss</h2>
    </button>

    <button mat-icon-button>
      <mat-icon>settings</mat-icon>
      <h2>Clipping Loss</h2>
    </button>

  </div>

</div>
