.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.map-frame {
  border: 2px solid black;
  height: 100%;
}

#map {
  height: 100%;
}



/* Start of the animation and modal config */
.drawer {
  position: fixed;
  right: 0;
  top: 0;
  padding: 0;
  width: auto;
  margin-top: 8%;
  margin-right: 4%;
  margin-left: 7%;
  margin-bottom: 4%;
  height: calc(60% - 2rem);
  border: none;
  background: #fff;
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);
  overflow: auto;
  border-radius: 25px;
  opacity: 90%;
  height: auto;
  overflow: hidden;

  &.opened {
    animation: slide-in 0.75s forwards;
  }

  &:not(.opened) {
    animation: slide-out 0.75s forwards;
  }
}


dialog::backdrop {
  background: var(--neutral-black, #000);
  opacity: 0.2;
}


@keyframes slide-in {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@media (prefers-reduced-motion) {
  .drawer {
    &.opened {
      animation: none;
    }

    &:not(.opened) {
      animation: none;
    }
  }
}
/* End of the animation and modal config */
