<div class="card-container">
  <mat-card class="card">
    <mat-card-header class="card-header">
      <mat-card-title class="card-title">Today's Performance</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="last-updated-date">Last Updated{{ timestamp }}</div>
    </mat-card-content>
    <mat-card-content class="card-content">
      <div class="energy">{{ energy }}</div>
      <div class="units">MWh</div>
    </mat-card-content>
    <mat-card-content class="card-content">
      <div class="power">{{ power }}</div>
      <div class="units">MW</div>
    </mat-card-content>
  </mat-card>
</div>
