.card-container {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.card {
  opacity: 0.9;
  border-radius: 30px;
  margin: 0 16px;
  width: 500px;
}

.card-header {
  margin-top: 10px;
  margin-left: 5px;
}

.card-title {
  color: #ffffff;
  font-size: 25px;
  font-weight: bold;
  margin: 0;
}

.card-content {
  padding-top: 16px;
  margin-left: 10px;
  margin-right: 10px;
}
