<div class="header-container">
  <mat-toolbar class="global-background-style">
    <mat-toolbar-row>
      <!-- Settings button -->
      <div>
        <button mat-icon-button>
          <mat-icon class="button-background">settings</mat-icon>
        </button>
      </div>

      <!-- Tic Tac Toe button -->
      <div>
        <button mat-icon-button>
          <mat-icon class="button-background">grid_on</mat-icon>
        </button>
      </div>

      <!-- Search Bar -->
      <div class="search-bar-background">
        <button mat-icon-button>
          <mat-icon>tune</mat-icon>
        </button>
        <input type="text" placeholder="Search" class="search-bar-text-box" />
        <button mat-icon-button>
          <mat-icon>search</mat-icon>
        </button>
      </div>

      <!-- Notification -->
      <div>
        <button mat-icon-button>
          <mat-icon class="button-background">notifications</mat-icon>
        </button>
      </div>

      <!-- 2x2 Square Icon -->
      <div>
        <button mat-icon-button>
          <mat-icon class="button-background">view_quilt</mat-icon>
        </button>
      </div>

      <!-- Profile Button -->
      <div>
        <button mat-icon-button>
          <mat-icon class="button-background">account_circle</mat-icon>
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
